export(classify2)
export(label2)
export(get.data)
export(chooseLambda)
export(sim.choosekrl)
export(sim.chooseLambda)
export(simulation)
export(sparse.choosekrl)
export(Calculate)
export(Calculatekrl)
export(tensor.calculateBIC)
export(cer)
export(sparse.evaluate)
export(plot_tensor)

import(RColorBrewer)
import(viridis)
import(glasso)
import(fields)
import(glmnet)
import(rgl)
import(reshape)
import(mvtnorm)
import(HDCI)
import(clues)
import(parallel)
importFrom("grDevices", "dev.new", "heat.colors")
importFrom("graphics", "axis", "image", "title")
importFrom("stats", "kmeans", "sd")
importFrom("utils", "tail")
importFrom("stats", "rnorm", "runif")
importFrom("clues", "adjustedRand")
importFrom("stats", "quantile")